#download {
    width: 30px;
    height: 30px;
    margin-top:15px;
    margin-left:15px;
}

#resume {
    color: white;
    border-radius: 20px;
    border: 5px solid white;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    font-size : 20px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.skill {
    margin-top: 150px;
}

.tag span {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    margin-bottom : 30px;
    background-color: white;
}

.download {
    margin-top: 50px;
    margin-bottom : 10px;

}

@media screen and (min-width:1520px) {

    #resume {
        margin-top: 150px;
        margin-bottom: 200px;
    }

}



@media screen and (max-width:1520px) {

    #resume {
        margin-bottom: 70px;
    }

}
