#work {
    max-width: 100%;
    background-image: url(../components/assets/paper2.jpg);
    border-radius: 10px;
    margin: 50px 20px 20px 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}


#photogallery {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 10px solid white;
    border-radius: 10px;
    width: 475px;
    height: 350px;
   
}


#smallimg {
    width: 350px;
    height: 250px;    
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

